In [1]:
import numpy as np
import matplotlib.pyplot as plt
import xarray as xr
import os
import pandas as pd
import glob
import math
import time

In [2]:
File_path = '/bettik/bouissob/ISOMIP+/'
Bet_path = '/bettik/bouissob/'

In [3]:
os.listdir(File_path)[0:2]

['Ocean4_COM_MITgcm_JPL.nc', 'Ocean1_TYP_FVCOM.nc']

In [4]:
Data_Name = '*COM_NEMO-CNRS.nc'
paths = glob.glob(File_path + Data_Name)

In [5]:
paths

['/bettik/bouissob/ISOMIP+/Ocean1_COM_NEMO-CNRS.nc',
 '/bettik/bouissob/ISOMIP+/Ocean4_COM_NEMO-CNRS.nc',
 '/bettik/bouissob/ISOMIP+/Ocean3_COM_NEMO-CNRS.nc',
 '/bettik/bouissob/ISOMIP+/Ocean2_COM_NEMO-CNRS.nc']

Dans NN, var en x pour simul y<br>
x : T, S, x, y, z<br>
y : MeltRate<br>
1ere Étape : Preparer les données

In [6]:
def get_depth_temp_sali(df, Data, zs):
    ys, IceDraft = df.ny, df.iceDraft
    N_T, N_S = [], []
    ylast = None
    dataset = Data[['temperatureYZ', 'salinityYZ']].to_dataframe().dropna()
    Index_Y = dataset.index.get_level_values('ny')
    for ind, y in enumerate(ys):
        indz = np.abs(np.array(zs + IceDraft[ind])).argmin()
        if y != ylast:
            Slice = dataset.iloc[Index_Y == y].droplevel('ny')
        Z_N = abs(np.array(Slice.index - indz)).argmin() + Slice.index[0]
        New_T = dataset.temperatureYZ.loc[Z_N, y]
        New_S = dataset.salinityYZ.loc[Z_N, y]
        N_T.append(New_T)
        N_S.append(New_S)
    return np.array(N_T), np.array(N_S)

In [7]:
def New_get_depth_temp_sal(df, Data):
    ys, Icedraft = np.array(df.ny), np.array(df.iceDraft)
    Var = ['temperatureYZ', 'salinityYZ']
    y = xr.DataArray(ys)
    iceZ = xr.DataArray(Icedraft)
    Data = Data.assign_coords({'nz':  - Data.nz})
    Filled = Data[Var].interpolate_na(dim="nz", use_coordinate = True, method = 'nearest', fill_value="extrapolate")
    Cur = Filled[Var].interp(ny = y, nz = iceZ, method = 'nearest')
    T, S = np.array(Cur.to_array())
    return T, S

In [9]:
for path in paths[0:1]:
    dfT = pd.DataFrame()
    Name = path.replace('.nc', '').replace(File_path, '')
    print(path)
    Data = xr.open_dataset(path)
    Data = Data.assign_coords({'nx': Data.x,
                           'ny': Data.y,
                           'nz': Data.z,
                           'nTime': Data.time})
    T = np.array(Data.nTime.as_numpy())
    Horiz_resol = 2 #km/index
    XstartYZ = int(500 / Horiz_resol)
    YstartXZ = int(40 / Horiz_resol)
    Time = len(T)
    Start = time.perf_counter()
    T = []
    df = []
    for t in range(Time):
        if (t+1)%int(Time/10) == 0:
            print('Starting {} / {}    '.format(t+1, Time), end = '\r')
        df = pd.DataFrame()
        df['meltRate'] = (Data['meltRate'].isel(nTime = t).to_dataframe())['meltRate']
        df['thermalDriving'] = Data['thermalDriving'].isel(nTime = t).to_dataframe()['thermalDriving']
        df['halineDriving'] = Data['halineDriving'].isel(nTime = t).to_dataframe()['halineDriving']
        if Data['iceDraft'].ndim == 2:
            df['iceDraft'] = Data['iceDraft'].to_dataframe()['iceDraft']
        else:
            df['iceDraft'] = Data['iceDraft'].isel(nTime = t).to_dataframe()['iceDraft']
        df['date'] = t
        df.dropna(inplace = True)
        df.reset_index(inplace=True)
        T, S = New_get_depth_temp_sal(df, Data.isel(nTime = t))
        #T, S = get_depth_temp_sali(df, Data.isel(nTime = t), Data.z.to_dataframe())
        df['temperatureYZ'] = T
        df['salinityYZ'] = S
        dfT = pd.concat([dfT, df], ignore_index = True)

    print('Done in {} s'.format(time.perf_counter() - Start))
    d = pd.DataFrame(dfT)
    dfT.dropna(inplace = True)
    dfT.reset_index(drop = True, inplace = True)
    dfT.rename(columns={'nx' :'x', 'ny': 'y'}, inplace=True)
    dfT['x'] = dfT['x'] * Horiz_resol
    dfT['y'] = dfT['y'] * Horiz_resol
    #pd.DataFrame.to_csv(dfT, Bet_path + 'Data/data_{}.csv'.format(Name), index = False)

/bettik/bouissob/ISOMIP+/Ocean1_COM_NEMO-CNRS.nc
Done in 13.519770799997787 s

In [12]:
Ancien = pd.read_csv(Bet_path + 'Data/data_{}.csv'.format(Name))
Nouveau = dfT

,y,x,meltRate,thermalDriving,halineDriving,iceDraft,date,temperatureYZ,salinityYZ
0,0,194,1.445518e-09,0.009086,0.127754,82.815510,0,-1.900030,33.893150
1,0,316,2.533100e-09,0.013837,0.194261,91.276440,0,-1.900030,33.893150
2,2,194,1.421181e-09,0.008926,0.125516,81.651650,0,-1.900036,33.892456
3,2,294,2.025993e-09,0.012627,0.177358,89.908270,0,-1.900036,33.892456
4,2,296,1.932426e-09,0.012012,0.168752,90.281364,0,-1.900036,33.892456
...,...,...,...,...,...,...,...,...,...
697915,76,314,2.370411e-07,0.080768,1.095842,100.000000,239,-1.748696,33.695084
697916,76,316,3.454754e-07,0.098296,1.324571,106.927826,239,-1.749601,33.697030
697917,76,318,2.071392e-07,0.037772,0.521274,100.000000,239,-1.748696,33.695084
697918,78,194,4.374625e-08,0.060759,0.831188,82.566990,239,-1.769133,33.691910
697919,78,316,3.876529e-07,0.110257,1.479312,91.142044,239,-1.769133,33.691910

In [14]:
Ancien - dfT

,y,x,meltRate,thermalDriving,halineDriving,iceDraft,date,temperatureYZ,salinityYZ
0,2000.0,1030000.0,1.445518e-09,0.009086,0.127754,82.815514,0,-1.900030,33.893150
1,2000.0,1274000.0,2.533100e-09,0.013837,0.194261,91.276443,0,-1.900030,33.893150
2,6000.0,1030000.0,1.421181e-09,0.008926,0.125516,81.651649,0,-1.900036,33.892456
3,6000.0,1230000.0,2.025993e-09,0.012627,0.177357,89.908272,0,-1.900036,33.892456
4,6000.0,1234000.0,1.932426e-09,0.012012,0.168752,90.281364,0,-1.900036,33.892456
...,...,...,...,...,...,...,...,...,...
697915,154000.0,1270000.0,2.370411e-07,0.080768,1.095842,100.000000,239,-1.748696,33.695084
697916,154000.0,1274000.0,3.454754e-07,0.098296,1.324571,106.927826,239,-1.749601,33.697029
697917,154000.0,1278000.0,2.071392e-07,0.037772,0.521274,100.000000,239,-1.748696,33.695084
697918,158000.0,1030000.0,4.374625e-08,0.060759,0.831188,82.566994,239,-1.769133,33.691910
697919,158000.0,1274000.0,3.876529e-07,0.110257,1.479312,91.142044,239,-1.769133,33.691910